$lightiestcoffee: #ece0d1;
$lightcoffe: #dbc1ac;
$coffee: #967259;
$darkcoffe: #634832;
$darkestcoffee: #38220f;

body {
    background-color: $lightiestcoffee;
}

/*Paleta de cores usada: https://www.color-hex.com/color-palette/30023*/
/*Estou usando Scss. Sass seria Scss sem a formatação identica do CSS que nem nesse arquivo*/
/*index.css.map é o arquivo que mapea o scss para o css*/
