@charset "UTF-8";
/*frontend*/
#htmlcss {
  margin: -2rem;
  height: 87.64px;
  width: 143.4px;
  margin-left: 0.1rem;
}

#js {
  margin: -2rem;
  height: 95.02px;
  width: 156.84px;
}

#bootstrap {
  margin: -2rem;
  height: 98px;
  width: 113px;
  margin-left: 0.3rem;
}

#angularts {
  margin: -2rem;
  height: 89.4px;
  width: 170.28px;
}

#sass {
  margin: -2rem;
  height: 98px;
  width: 98px;
  margin-left: 1rem;
}

@media screen and (max-width: 1399px) {
  #htmlcss {
    height: 70.112px;
    width: 114.72px;
  }
  #js {
    height: 76.016px;
    width: 125.472px;
  }
  #bootstrap {
    height: 78.4px;
    width: 90.4px;
  }
  #angularts {
    height: 71.52px;
    width: 136.224px;
  }
  #sass {
    height: 78.4px;
    width: 78.4px;
  }
}
/*backend*/
#spring {
  margin: -1.4rem;
  height: 100px;
  width: 100px;
}

#androidstudio {
  margin: -1.4rem;
  height: 100px;
  width: 100px;
}

#nodejs {
  margin: -1.4rem;
  height: 110.12px;
  width: 100px;
}

#tsql {
  margin: -1.4rem;
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 1399px) {
  #spring {
    height: calc(100px * pct);
    width: 80px;
  }
  #androidstudio {
    height: 80px;
    width: 80px;
  }
  #nodejs {
    height: calc(110.12px * pct);
    width: 80px;
  }
  #tsql {
    height: 80px;
    width: 80px;
  }
}
/*eu e projetos*/
#github {
  height: 173px;
  width: 170px;
}

@media screen and (max-width: 1399px) {
  #github {
    margin-bottom: -18px;
    height: 138.4px;
    width: 136px;
  }
}
/*importando do arquivo photos*/
h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #38220f;
  margin: 5rem;
}

h4 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #38220f;
  margin-left: 6rem;
}

li {
  margin-bottom: 2rem;
}

body {
  background-color: #ece0d1;
}

#view {
  width: 600px;
  height: 600px;
  background: #dbc1ac;
  border: 3px #38220f solid;
  padding: 2rem;
}

.list-group-item {
  background-color: #dbc1ac;
  border-color: #634832;
}

p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #38220f;
}

#pizzatext1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #38220f;
  margin-top: 52.3%;
  margin-left: 40%;
  transform: rotate(0deg);
}

#pizzatext2 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #38220f;
  margin-top: 41.9%;
  margin-left: 31.01%;
  transform: rotate(270deg);
}

#pizzatext3 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #38220f;
  margin-top: 70%;
  margin-left: 30%;
  transform: rotate(90deg);
}

#pizzatext4 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #38220f;
  margin-top: 50%;
  margin-left: 50%;
  margin-right: 10%;
  transform: rotate(180deg);
}

footer {
  margin-left: 45%;
  position: fixed;
  bottom: 0;
}

#no-padding {
  padding: 0;
}

.quarter-circle, #pizza4, #pizza3, #pizza2, #pizza1 {
  width: 300px;
  height: 300px;
  background-color: #967259;
  border-radius: 100% 0 0 0;
  border: 3px #38220f solid;
  transform: rotate(0deg);
}

#pizza1 {
  transform: rotate(0deg);
  position: absolute;
}

#pizza2 {
  transform: rotate(90deg);
}

#pizza3 {
  transform: rotate(270deg);
}

#pizza4 {
  transform: rotate(180deg);
}

@media screen and (max-width: 1399px) {
  h4 {
    margin-top: -1.1rem;
  }
  #view {
    width: 480px;
    height: 480px;
  }
  .quarter-circle, #pizza1, #pizza2, #pizza3, #pizza4 {
    width: 216px;
    height: 216px;
  }
}
/*Paleta de cores usada: https://www.color-hex.com/color-palette/30023*/
/*Estou usando Scss. Sass seria Scss sem a formatação identica do CSS que nem nesse arquivo*/
/*index.css.map é o arquivo que mapea o scss para o css*//*# sourceMappingURL=index.css.map */