@mixin margin ($marginvalue) {
    margin: $marginvalue;
}

$pct: 80/100;

/*frontend*/
$marginfront: -2rem;

$htmlcssheight: 87.64px;
$htmlcsswidth: 143.4px;
#htmlcss {
    @include margin($marginfront);
    height: $htmlcssheight;
    width: $htmlcsswidth;
    margin-left: 0.1rem;
}

$jsheight: 95.02px;
$jswidth: 156.84px;
#js {
    @include margin($marginfront);
    height: $jsheight;
    width: $jswidth;
}

$bootstrapheight: 98px;
$bootstrapwidth: 113px;
#bootstrap {
    @include margin($marginfront);
    height: $bootstrapheight; 
    width: $bootstrapwidth;
    margin-left: 0.3rem;
}


$angulartsheight:89.4px;
$angularwidth: 170.28px;
#angularts {
    @include margin($marginfront);
    height: $angulartsheight; 
    width: $angularwidth;
}

$pxsass: 98px;
#sass {
    @include margin($marginfront);
    height: $pxsass; 
    width: $pxsass;
    margin-left: 1rem;
}

@media screen and (max-width: 1399px) {
    #htmlcss {
        height: calc($htmlcssheight*$pct);
        width: calc($htmlcsswidth*$pct);
    }
    #js {
        height: calc($jsheight*$pct);
        width: calc($jswidth*$pct);
    }
    #bootstrap {
        height: calc($bootstrapheight*$pct); 
        width: calc($bootstrapwidth*$pct);
    }
    #angularts {
        height: calc($angulartsheight*$pct); 
        width: calc($angularwidth*$pct);
    }
    #sass {
        height: calc($pxsass*$pct);
        width: calc($pxsass*$pct);
    }
}

/*backend*/
$marginback: -1.4rem;

$springheight: 100px;
$springwidth: 100px;
#spring {
    @include margin($marginback);
    height: $springheight;
    width: $springwidth;
}

$androidstudioheight: 100px;
$androidstudiowidth: 100px;
#androidstudio {
    @include margin($marginback);
    height: $androidstudioheight;
    width: $androidstudiowidth;
}

$nodejsheight: 110.12px;
$nodejswidth: 100px;
#nodejs {
    @include margin($marginback);
    height: $nodejsheight;
    width: $nodejswidth;
}

$tsqlheight: 100px;
$tsqlwidth: 100px;
#tsql {
    @include margin($marginback);
    height:  $tsqlheight;
    width: $tsqlwidth;
}

@media screen and (max-width: 1399px) {

    #spring {
        height: calc($springheight*$pct);
        width: calc($springwidth*$pct);
    }
    #androidstudio {
        height: calc($androidstudioheight*$pct);
        width: calc($androidstudiowidth*$pct);
    }
    #nodejs {
        height: calc($nodejsheight*$pct);
        width: calc($nodejswidth*$pct);
    }
    #tsql {
        height:  calc($tsqlheight*$pct);
        width: calc($tsqlwidth*$pct);
    }
}

/*eu e projetos*/

$euheight: 120px;
$euwidth: 120px;
#eu {
    height: $euheight;
    width: $euwidth;
}

$linkedinheight:125px;
$linkedinwidth:125px;
#linkedin{
    margin-left: 5rem;
    height: $linkedinheight;
    width: $linkedinwidth;
}

$githubheight: 173px;
$githubwidth: 170px;
#github {
    height: $githubheight;
    width: $githubwidth;
}

@media screen and (max-width: 1399px){
    #eu {
        margin-top: -15px;
        height: calc($euheight*$pct);
        width: calc($euwidth*$pct);
    }
    #linkedin {
        height: calc($linkedinheight*$pct);
        width: calc($linkedinwidth*$pct);
    }
    #github {
        margin-bottom: -18px;
        height: calc($githubheight*$pct);
        width: calc($githubwidth*$pct);
    }
}